@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  /* Deep OLED Black */
  --foreground: #ffffff;
  --accent: #22c55e;
  /* Matrix Green for the "System" parts */
}

body {
  color: var(--foreground);
  background: var(--background);
  /* We use a system font stack for clean, fast loading */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  overflow: hidden;
  /* Lock scrolling */
}

/* Custom Animation for the "Glitch" text effect */
@keyframes glitch {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  100% {
    transform: translate(0)
  }
}

.glitch-effect:hover {
  animation: glitch 0.2s cubic-bezier(.25, .46, .45, .94) both infinite;
  color: var(--accent);
}